@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1E2326;
  --secondary-color: #fff;
}

html {
  color: var(--secondary-color);
  background: var(--primary-color);
}

.my-container{
  @apply w-[90%] sm:w-[80%] lg:max-w-6xl mx-auto
}