@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1E2326;
  --secondary-color: #fff;
}

html {
  color: var(--secondary-color);
  background: var(--primary-color);
}
